In [1]:
import pandas as pd
import datetime as dt
from msci.bdt import create_unique_export_set_name
from msci.bdt.context.ServiceClient import ServiceClient
from msci.bdt.get_positions_report import get_positions_report

url = 'https://www.barraone.com'
user_id = 'ykwon'
password = 'passive23456'
client_id = 'wu8cegzksh'

In [2]:
model = 'KRE3L'
port_name= 'Passive_Total'
port_owner = 'ykwon'
date1 = '2024-07-15'

In [17]:
from msci.bdt.context.InteractiveClient import InteractiveClient

client = InteractiveClient(url, user_id, password, client_id)
#stored_analytics = client.get_available_stored_analytics()

In [21]:
cols = {'Name': ['Asset ID', 'Asset Name', 'Holdings', 'Local Price'], 'Owner': ['System','System','System','System']}
csettings=client.factory.create('CustomizeReportSetting')
csettings._InclBenchmarkNotHeld = True
csettings._LookThruComposites = True
pos = get_positions_report(client, model, port_name, date1, cols, portfolio_owner=port_owner, customize_settings=csettings)

In [ ]:
df = pd.DataFrame(pos)

df['Holdings'] = df['Holdings'].map(lambda x: round(float(x)))
df['Local Price'] = df['Local Price'].map(lambda x: round(float(x)))

In [25]:
df

,Asset ID,Asset Name,Holdings,Local Price
0,KR7271560005,ORION CORP NEW,897513,91900
1,KR7000070003,SAMYANG HOLDINGS CORP,210141,68600
2,KR7285130001,SK CHEMICALS (NEW),363122,49000
3,KR7011070000,LG INNOTEK,541373,294500
4,KR7281820001,KC TECH CO NEW,433525,52000
...,...,...,...,...
268,KR7034120006,SEOUL BROADCASTING SYSTEM,83413,17250
269,KR7403550007,SOCAR INC,4267,19850
270,KR7383800000,LX HOLDINGS CORP,1470192,6940
271,CP_10022_KRP487570002_20240715,HS HYOSUNG(Spin-off),120632604,1
272,10022_KRU086280003,HYUNDAIGLOVIS(Bonus),21666,127600

In [26]:
120632604/59000

2044.620406779661